.create-highlight-page{

max-width:850px;

background:white;

padding:40px;

border-radius:16px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}



.create-highlight-page h1{

font-size:30px;

color:#1e293b;

margin-bottom:30px;

}



.create-highlight-page form{

display:flex;

flex-direction:column;

}



.create-highlight-page label{

margin-top:18px;

margin-bottom:8px;

font-weight:600;

color:#334155;

}



.create-highlight-page input,
.create-highlight-page select,
.create-highlight-page textarea{

padding:14px;

border:1px solid #cbd5e1;

border-radius:10px;

font-size:15px;

outline:none;

}



.create-highlight-page input:focus,
.create-highlight-page select:focus,
.create-highlight-page textarea:focus{

border-color:#2563eb;

}



.create-highlight-page button{

margin-top:30px;

width:230px;

padding:14px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

font-weight:600;

cursor:pointer;

}



.create-highlight-page button:hover{

background:#1d4ed8;

}